html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button + button {
  margin-left: 10px;
}

textarea {
  width: 100% !important;
}

.tag-wrapper {
  margin-left: 10px;
}

.govuk-notification-banner {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #1d70b8;
    background-color: #1d70b8;
}
@media (min-width: 40.0625em) {
  .govuk-notification-banner {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
      margin-bottom: 50px;
  }
}

.govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid rgba(0,0,0,0);
}

@media (min-width: 40.0625em) {
  .govuk-notification-banner__header {
      padding: 2px 20px 5px;
  }
}

.govuk-notification-banner__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff;
}

@media (min-width: 40.0625em) {
  .govuk-notification-banner__title {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
  }
}

.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
}

@media (min-width: 40.0625em) {
  .govuk-notification-banner__content {
      padding: 20px;
  }
}

.govuk-notification-banner__content>* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 605px;
}

.govuk-notification-banner__heading {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin: 0 0 15px 0;
  padding: 0;
}

.govuk-notification-banner__content>:last-child {
  margin-bottom: 0;
}