@import '../node_modules/govuk-frontend/govuk/all.scss';
@import './taskList.scss';
@import './timeline.scss';

@import '../node_modules/react-big-calendar/lib/sass/styles.scss';
@import '../node_modules/react-big-calendar/lib/addons/dragAndDrop/styles.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button + button {
  margin-left: 10px !important;
}

textarea {
  width: 100% !important;
}

td,
th {
  vertical-align: top;

  a,
  strong {
    white-space: nowrap;
  }

  strong {
    margin-top: 5px;
  }
}

.show-line-breaks {
  white-space: pre-line;
}

.tag-wrapper {
  margin-left: 10px;
}

.sortable {
  background-color: white;
  border: 0;
  color: #005ea5;
  font-size: 19px;
  font-weight: 700;
  padding-right: 15px;
  position: relative;
  white-space: nowrap;
}

.sortable::before,
.sortable::after {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 1px;
}

.sortable::before {
  content: '▲';
}

.sortable::after {
  content: '▼';
  top: 10px;
}

.sortable--asc::before,
.sortable--dsc::after {
  font-size: 16px;
  right: -2px;
  top: 2px;
}

.sortable--dsc::before,
.sortable--asc::after {
  content: '';
}

.filter {
  background-color: #d9d9d9;
  border: 1px solid black;
  margin-bottom: 32px;
  max-width: 500px;
  padding: 16px;
}

.filter .govuk-checkboxes--small .govuk-checkboxes__label:before {
  background-color: white;
}

.govuk-checkboxes--in-table-cell {
  margin-top: -6px;
  position: relative;
}

.calendar {
  height: 100vh;
  max-height: 800px;
  min-height: 600px;

  .rbc-toolbar-label {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
  }
}

.govuk-details__summary-text--show-hide::after {
  content: 'Show';

  [open] & {
    content: 'Hide';
  }
}

.govuk-details__text--no-border {
  border: 0 !important;
  padding: 40px 0 !important;
}

.govuk-link--new-tab {
  margin-right: 18px;
  position: relative;

  &::before,
  &::after {
    background-color: white;
    border: 1px solid #1d70b8;
    border-radius: 2px;
    content: '';
    height: 8px;
    position: absolute;
    right: -14px;
    top: 2px;
    width: 10px;
  }

  &::after {
    right: -16px;
    top: 0;
  }

  &:visited::before,
  &:visited::after {
    border-color: #4c2c92;
  }

  &:hover::before,
  &:hover::after {
    border-color: #003078;
  }

  &:active::before,
  &:active::after,
  &:focus::before,
  &:focus::after {
    border-color: #0b0c0c;
  }
}

.govuk-pagination {
  justify-content: space-between;
}